main {
  margin-top: 100px;
  max-width: 1440px;
  margin: 100px auto;
}

.page-heading {
  margin-left: 64px;
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  height: 220px;
  width: 700px;
  background-color: white;
  border-radius: 200px;
  display: flex;
}

.card-details {
  padding: 25px 42px 25px 25px;
  letter-spacing: 0.5px;
}

.card-details h2 {
  color: var(--blue);
  line-height: 42px;
}

.card-img {
  width: 220px;
  height: 220px;
  min-width: 220px;
  border-radius: 200px;
  border: 10px solid var(--white);
}