main {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 500px;
  height: 550px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-card label {
  line-height: 28px;
  display: block;
}

.login-card input {
  width: 320px;
  padding: 12px 22px;
  font-size: 15px;
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 32px;
  border: 1px solid var(--gray);
}

.login-card button {
  width: 320px;
  background-color: var(--blue);
  color: white;
  border: none;
  outline: transparent;
  font-size: 18px;
  padding: 12px 26px;
  border-radius: 32px;
  cursor: pointer;
}